body {
	
}

header {
	background-color:#494949;
	color:white;
	text-align:center;
	padding:5px;
	letter-spacing:2px;
	font: 28px 'Georgia', sans-serif;
}

section {
	padding:25px;
	background-color:#f5f5f5;
	text-align:justify;
	letter-spacing:1px;
	font:20px 'Georgia', sans-serif;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
}

th, td {
	padding: 15px;
}
